<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Sakura Embroidery{% endblock %}
    </title>

    <!-- Bootstrap -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- CSS propio -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>

<!-- ========================= -->
<!-- NAVBAR REUTILIZABLE -->
<!-- ========================= -->

<header>

    {% include "components/navbar.html" %}

</header>


    <!-- ========================= -->
    <!-- CONTENIDO -->
    <!-- ========================= -->

    <main>

        {% block content %}

        {% endblock %}

    </main>


<!-- ========================= -->
<!-- FOOTER REUTILIZABLE -->
<!-- ========================= -->

{% include "components/footer.html" %}

    <!-- Bootstrap JavaScript -->

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js">
    </script>


    <!-- JavaScript propio -->

    <script
        src="{{ url_for('static', filename='js/script.js') }}">
    </script>

</body>

</html>